@model MVC_OnlineStore.Models.ViewModels.CartViewModel

<div class="ajaxcart icon-gym">
    Корзина: @Model.Quantity товаров - @Model.Price  $
    <br />
    @Html.ActionLink("Оплата", "Index")
</div>
