/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 35px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
table.sorting tr:not(.home){
    cursor:pointer;
}

.new-cat{
    margin-top: 30px;
    position:relative;
}

.ajax-text{
    display: none;
}

.galleryStyle {
    margin: 15px;
    height: 260px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
}

    .galleryStyle:hover {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        animation-name: example;
        animation-duration: 0.25s;
        border-left: 8px solid #737373;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

@keyframes example {
    0% {
        border-left: 2px solid #ffffff;
    }

    25% {
        border-left: 3px solid #ffe6e6;
    }

    50% {
        border-left: 4px solid #d6d6d6;
    }

    100% {
        border-left: 5px solid #737373;
    }
}

/*//////////////////////////////*/

.ajaxmsg{
    background: green;
    color: white;
    padding: 10px;
    display: none;
}

.loader{
    display: none;
}

.ib{
    display: inline-block !important;
}

/*////////////////////////////////////*/
@font-face {
    font-family: 'icomoon';
    src: url('icomoon/icomoon.eot?mp51f2');
    src: url('icomoon/icomoon.eot?mp51f2#iefix') format('embedded-opentype'), url('icomoon/icomoon.ttf?mp51f2') format('truetype'), url('icomoon/icomoon.woff?mp51f2') format('woff'), url('icomoon/icomoon.svg?mp51f2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-buy:before {
    content: "\e909";
}

.icon-user-2:before {
    content: "\e90a";
}

.icon-instagram:before {
    content: "\e902";
}

.icon-telegram:before {
    content: "\e903";
}

.icon-facebook:before {
    content: "\e904";
}

.icon-search:before {
    content: "\e905";
}

.icon-tick:before {
    content: "\e906";
}

.icon-car:before {
    content: "\e907";
}

.icon-user:before {
    content: "\e908";
}

.icon-sport:before {
    content: "\e900";
    font-size:30px;
}

.icon-gym:before {
    content: "\e901";
}



@font-face {
    font-family: 'Teko Bold';
    src: url('fonts/teko-bold-webfont.woff2') format('woff2'), url('fonts/teko-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teko Light';
    src: url('fonts/teko-light-webfont.woff2') format('woff2'), url('fonts/teko-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teko Medium';
    src: url('teko-medium-webfont.woff2') format('woff2'), url('teko-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teko Regular';
    src: url('teko-regular-webfont.woff2') format('woff2'), url('teko-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tekosemibold';
    src: url('teko-semibold-webfont.woff2') format('woff2'), url('teko-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar-public {
    background: linear-gradient(to top right, #B0C4DE,#B0E0E6);
    box-shadow: 2px 6px 14px #4682B4;
}

.my-logo {
    font-size: 2em;
    font-family: 'Teko Bold';
}

.navbar-text {
    font-family: cursive;
}

.f-col{
    text-align:right;
}
.icon {
    display:inline-block;
    font-size:1.7em;
}
.text-social {
    font-family: cursive;
    font-size:1.2em;
}

.search{
    background-color:#fff;
    padding:5px;
    border-radius:5px;
    margin: auto;
    vertical-align: central;
}

.search>input{
    border:none;
}

/*/////////////////////////////////////////*/
.menu-nab{
    width:100%;
    justify-content:space-between;
    align-items: center;
}

.menu-nab input {
    outline:none;
    border: none;
      border-radius:7px;
  }

    .body-info {
        flex-wrap: nowrap;
        padding-top:80px;
    }

.nav-item{
    font-weight:700;
}

#category-menu {
    padding: 7px 5px;
    border: 2px solid #000000;
    border-radius: 7px;
    box-shadow: 3px 7px 12px #000;
}
    #category-menu:hover {
        box-shadow: 6px 7px 16px #000;
    }

    #category-menu a {
        border: none;
    }
.my-btn{
    border-radius:5px;
    border:1px solid #000;
    padding: 3px 5px;
}