@model MVC_OnlineStore.Models.ViewModels.UserNavPartialViewModel

<li class="navbar-text">
    <div style="text-decoration: none">Здравствуйте, @Model.FirstName @Model.SecondName </div>
    <a  href="/account/user-profile">Редактировать профиль</a>
</li>