@model IEnumerable<MVC_OnlineStore.Models.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Categories";
}

<h2>Категории</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<div class="new-cat">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Название категории</span>
        </div>
        <input type="text" id="newcatname" class="form-control" />
    </div>
    <p>
        <a href="#" id="newcata" class="btn add-btn">Добавить категорию</a>
        <span class="ajax-text">
            <img src="~/Content/img/ajax-loader.gif" height="70" />
        </span>
    </p>
</div>

@if (!Model.Any())
{
    <h1 class="text-center">Нету данных про категории</h1>
}
else
{
    <table class="table sorting table-pages" id="pages">
        <tr class="home">
            <th>
                Название категории 
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="ajaxdivtd"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-0">
                                <div style="margin-top: 5px"><img src="~/Content/img/sort.svg" style="width:25px;" /></div>
                            </div>
                            <div class="col">
                                @Html.EditorFor(modelItem => item.Name,
                                 new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    @Html.ActionLink("Удалить", "DeleteCategory", new { id = item.Id }, new { @class = "delete btn btn-danger" })
                </td>
            </tr>
        }

    </table>
}

@section Scripts
{
    <script src="~/Content/scripts/categories.js"></script>
}