@model IEnumerable<MVC_OnlineStore.Models.ViewModels.CategoryViewModel>
    <div id="category-menu">
        <h3>Категории</h3>

        @foreach (var item in Model)
        {
            <a class="list-group-item list-group-item-action" href="/shop/category/@item.Description.ToLower()">@item.Name</a>
        }

    </div>

