@model IEnumerable<MVC_OnlineStore.Models.ViewModels.ProductViewModel>

@{
    ViewBag.Title = ViewBag.CategoryName;
}

    <h2>@ViewBag.CategoryName</h2>


<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Описание
        </th>
        <th>
            Стоимость
        </th>
        <th>
            Изображение
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price) $
        </td>

        <td>
            @if (!string.IsNullOrEmpty(item.ImageName))
            {
                <a href="/shop/product-details/@item.ShortInfo">
                    <img src="/Images/Uploads/Products/@item.ProductId/Thumbs/@item.ImageName" />
                </a>
            }
            else
            {
                <a href="/shop/product-details/@item.ShortInfo">
                    <img src="~/Content/img/no_image.png"/>
                </a>
            }

        </td>

        <td>
            <a href="/shop/product-details/@item.ShortInfo" class="btn btn-info">Подробнее</a>
            @*<a href="/shop/product-details/@item.ShortInfo" class="btn btn-success">Добавить в корзину</a>*@
        </td>
    </tr>
}

</table>
