@model MVC_OnlineStore.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Index";
}

<div>
    <h1>Привет @Model.FirstName @Model.SecondName</h1>
</div>

@Html.ActionLink("Профиль", "EditProfile", "Dashboard")
@Html.ActionLink("Добавить товар", "AddProduct", "Products")